<html>
<body>
    <form action = "http://localhost:9999/predict" method = "POST", id="form1">
        <p>
            <textarea name="question" placeholder="Type your question here..." rows="4" cols="50"></textarea>
        </p>
    </form>
    <button type="submit" form="form1" value="submit" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
</body>
    <!--<li class="white">-->
        <!--<div class="form-group basic-textarea">-->
            <!--<textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>-->
        <!--</div>-->
    <!--</li>-->
</html>
<!--question <input type = "text" name = "question" />-->